@import '../../../assets/styles/_themes.scss';

.side-panel {
  position: relative;
  width: 150px;
  background-color: $primary;
  height: 100vh;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 10px;

  &.collapsed {
    width: 50px;
  }
}