@import '/src/assets/styles/_themes.scss';

.navigation-accordion {
  border-radius: 5px;
  overflow: hidden;

  .navigation-accordion-header {
    padding: 10px;
    background-color: $background;
    color: $text-primary;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .arrow {
      transition: transform 0.3s ease;

      &.open {
        transform: rotate(180deg);
      }
    }
  }

  .navigation-accordion-content {
    padding: 10px;
    display: none;
    background-color: $background;

    &.open {
      display: block;
    }
  }
}
