@import '/src/assets/styles/_themes.scss';

.navigation-accordion {
  border-radius: 5px;
  overflow: hidden;

  .navigation-accordion-header {
    padding: 10px;
    background-color: $secondary;
    color: $text-primary;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .accordion-title {
      display: block;
      margin-left: 10px;
    }

    .arrow {
      transition: transform 0.3s ease;
      margin-left: auto;

      &.open {
        transform: rotate(180deg);
      }
    }
  }

  &.collapsed .navigation-accordion-header {
    justify-content: center;
    .accordion-title {
      display: none;
    }
  }

  .navigation-accordion-content {
    padding: 10px;
    display: none;
    background-color: $background;

    &.open {
      display: block;
    }
  }
}
